<div class="logs">
{{#each data}}
    <pre id="{{id}}"{{#if color}} style="color:{{color}};"{{/if}} class="single-log{{#if hidden}} hidden{{/if}}">{{string}}</pre>
{{else}}
    <div class="greeting-message">
        <h2>Drag and drop a text file here.</h2>
    </div>
{{/each}}
</div>
