<div class="row">
    {{#each data.placeHolders}}
    <div id="{{id}}" class="{{class}}">
        <div class="row">
            {{#each modules}}
            <div id="{{id}}" class="{{class}}">
            <!-- Here goes one module -->
            </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>
