<div class="row">
    {{#each placeHolders}}
    <div id="{{id}}" class="{{class}}">
        <div class="row">
            {{#each modules}}
            <div id="{{id}}" class="{{class}}">one module is here</div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>
